
/* ******************************************************* */
/** style for form and form elements */

/** first for all labels and then overwrite in specific cases */

.btn-start {
  display: block;
  border: 2px solid darkgray;
  border-radius: 4px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.8;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
/* ******************************************************* */

/* ******************************************************* */
/** Style for user records new and db ones */

/* ******************************************************* */

/* ******************************************************* */
/* *Style for quiz */


#quiz-questions-list > li {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
} */
/* ******************************************************* */
/* main container splited on to rows */
.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* ! */
#quiz-container {
  display: none;
}

#user-record{
  display: none;
}

/* * both forms intial dipaly="none" */

#form-sign-up {
  display: none;
}

#form-login {
  display: none;
}

#btn-back-to-start{
  display:none;
}



